@import '../../../../assets/tokens/breakpoints.scss';
@import '../../../../assets/tokens/colors.scss';
@import '../../../../assets/tokens/fonts.scss';
@import '../../../../assets/tokens/margins.scss';
@import '../../../../assets/tokens/shadows.scss';

.launch {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h2 {
        @include fira-code-bold-large;
        margin: 5rem 0;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        &__container {
            display: flex;
            width: 25rem;
            flex-direction: column;
            text-align: center;
            gap: 2rem;

            &__title {
                @include fira-code-bold-medium;
            }

            &__paragraph {
                @include fira-code-medium
            }
        }
    }
}