<div class="launch">
    <h2>Sobre Nosotros</h2>

    <div class="launch__items">
        <div class="launch__items__container">
            <img class="launch__items__container__image" src="../../../../assets/pictures/team.webp" alt="">
            <h3 class="launch__items__container__title"> Nuestro equipo</h3>
            <p class="launch__items__container__paragraph">Contamos con un equipo dispuesto y ágil, solucionaremos tus
                necesidades de manera eficiente</p>
        </div>

        <div class="launch__items__container">
            <img class="launch__items__container__image" src="../../../../assets/pictures/history.webp" alt="">
            <h3 class="launch__items__container__title">Historia</h3>
            <p class="launch__items__container__paragraph"></p>
        </div>
        <div class="launch__items__container">
            <img class="launch__items__container__image" src="../../../../assets/pictures/skills.webp" alt="">
            <h3 class="launch__items__container__title">Nuestras Especialidades</h3>
            <p class="launch__items__container__paragraph">Desarollamos paginas web a tu medida, instalamos las redes y
                sistemas de seguridad de tu empresa u hogar, contamos con servicios de venta tecnologicos</p>
        </div>
    </div>

</div>