@import '../../../../assets/tokens/breakpoints.scss';
@import '../../../../assets/tokens/colors.scss';
@import '../../../../assets/tokens/fonts.scss';
@import '../../../../assets/tokens/margins.scss';
@import '../../../../assets/tokens/shadows.scss';

.header {
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
    margin-top: -6rem;
    position: relative;
    width: 100%;
    background-color: $blue-01;


    &__background {

        height: 45rem;
        object-fit: cover;
    }

    &__title {
        @include fira-code-bolder-xl;
        color: $white-00;
        position: absolute;
        /* Posiciona de forma absoluta con respecto al contenedor padre */
        top: 65%;
        /* Alinea verticalmente al centro */
        right: 49%;
        /* Alinea horizontalmente al centro */
        transform: translate(-50%, -50%);
        /* Centra el título */
        z-index: 1;
    }

    &__subtitle {
        @include fira-code-bold-l;
        color: $blue-00;
        position: absolute;
        /* Posiciona de forma absoluta con respecto al contenedor padre */
        top: 80%;
        /* Alinea verticalmente al centro */
        right: 40%;
        /* Alinea horizontalmente al centro */
        transform: translate(-50%, -50%);
        /* Centra el título */
        z-index: 1;
    }

}