<div class="quotate">
    <h2>Cotiza tu sitio web</h2>

    <div class="quotate__items">
        <div class="quotate__items__container">
            <img class="quotate__items__container__image" src="../../../../assets/pictures/corporativa.jpg" alt="">
            <h3 class="quotate__items__container__title"> Paginas web corporativas </h3>
            <button class="quotate__items__container__button">Cotizar</button>
        </div>

        <div class="quotate__items__container">
            <img class="quotate__items__container__image" src="../../../../assets/pictures/ecommerce.jpg" alt="">
            <h3 class="quotate__items__container__title">Tiendas en linea</h3>
            <button class="quotate__items__container__button">Cotizar</button>
        </div>
        <div class="quotate__items__container">
            <img class="quotate__items__container__image" src="../../../../assets/pictures/blogs.jpg" alt="">
            <h3 class="quotate__items__container__title">Blogs y Portales de Contenido:</h3>
            <button class="quotate__items__container__button">Cotizar</button>
        </div>
        <div class="quotate__items__container">
            <img class="quotate__items__container__image" src="../../../../assets/pictures/landing.png" alt="">
            <h3 class="quotate__items__container__title">Landing Pages</h3>
            <button class="quotate__items__container__button">Cotizar</button>
        </div>
        <div class="quotate__items__container">
            <img class="quotate__items__container__image" src="../../../../assets/pictures/portfolio.png" alt="">
            <h3 class="quotate__items__container__title">Portafolios Creativos</h3>
            <button class="quotate__items__container__button">Cotizar</button>
        </div>
    </div>

</div>