<section class="support">
    <h1>Soporte Tecnico y Soluciones</h1>
    <p>No lo deseches, nosotros lo arreglamos</p>

    <div class="support__container">

        <div class="support__container__item">

            <h2>Sistemas de Seguridad</h2>

            <div class="support__container__item__box">
                <p>Diseñamos y desarrollamos sitios web corporativos que reflejan la esencia y los valores de tu
                    empresa. Desde la presentación de servicios hasta la generación de clientes potenciales, creamos una
                    presencia digital que destaca.</p>
                <img src="../../../../assets/pictures/seguridad.jpg" alt="">
            </div>
        </div>

    </div>

</section>