<div class="container">

    <div class="container__list" *ngIf="selectedProduct">
        <div class="container__list__item">
            <div class="container__list__item__carousel">
                <div id="productsCarousel" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let filename of selectedProduct.filenames; let i = index"
                            [class.active]="i === 0" data-bs-interval="3000">
                            <img [src]="'http://localhost:3000/products/uploads/' + filename"
                                alt="Product Image {{ i }}">
                        </div>
                    </div>

                    <div class="container__list__item__carousel__controls">
                        <button class="carousel-control-prev" type="button" data-bs-target="#productsCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#productsCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="container__item__details">
                <h2>{{ selectedProduct.name }}</h2>
                <p>{{ selectedProduct.description }}</p>
                <p>Precio: {{ selectedProduct.price }}</p>
            </div>
            <a href="https://wa.me/3239900100">

                <app-button class="container__item__details__button"
                    [customStyle]="'button-black-00' ">Comprar</app-button>
            </a>
        </div>
    </div>

</div>